@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Gruppo&family=Oxanium:wght@500;700;800&display=swap');

body {
    background-color: black;
}

h1 {
    font-family: 'Oxanium', cursive;
}

p {
    font-family: 'Anuphan', sans-serif;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    
    background-color: black;
    color: white;
    
    #header-contact-text {
        margin: 8px 2px 8px 8px;
        font-family: 'Gruppo', cursive;
        font-size: 24px;
    }

    #header-github {
        margin-left: 6px;
        width: 24px;
    }
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: filter 1s;
}

.glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;

    background: radial-gradient(#ffffff15, transparent 70%);
    mix-blend-mode: plus-lighter;
    pointer-events: none;
}

article {
    margin: 30vh 0 0 50px;
    color: white;

    h1 {
        margin-bottom: 4px;
        font-size: 45px;
        font-weight: 500;

        #introduction-hi {
            font-size: 60px;
            font-weight: 700;
            line-height: 0;
        }

        #introduction-emoji {
            //animation: waving-hand 2s;
        }

        @keyframes waving-hand {
            0% {
                transform: rotateZ(0);;
            }
            30% {
                transform: rotateZ(-45deg);
            }
            60% {
                transform: rotateZ(45deg);
            }
            100% {
                transform: rotateZ(0);
            }
        }
    }

    #introduction-text {
        margin: 2px 0 18px 0;
        font-family: 'Anuphan', sans-serif;
    }

    #introduction-skill-container {
        display: flex;
        align-items: baseline;

        img {
            height: 40px;
            margin-right: 10px;
            transition: transform 0.25s;
        }
        img:hover {
            transform: translateY(-10px);
        }

        #introduction-skill-xaml {
            height: 30px;
        }
    }

    #nav-mobile-small {
        display: none;
    }
}

nav {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 4;

    background: black;

    transition: width 0.5s, margin 0.5s;

    .nav-desktop-item {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        transition: transform 0.5s;

        span {
            font-size: 20px;
        }

        p {
            position: relative;
            padding-bottom: 4px;

            font-family: 'Gruppo', cursive;
            font-weight: bold;
            font-size: 24px;
            margin-left: 5px;
        }

        // p::after {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     width: 100%;
        //     height: 4px;
            
        //     z-index: -1;
        //     background: linear-gradient(to right, red, green);
        // }
    }
    .nav-desktop-item:hover {
        transform: translateY(-8px)
    }
    .nav-desktop-item:hover p {
        text-decoration: underline;
        
    }

    #nav-desktop-item-about {
        //background: #EDD57D;
        color: white;
    }

    #nav-desktop-item-skill {
        //background: #35DF71;
        color: white;
    }

    #nav-desktop-item-portfolio {
        //background: red;
        color: white;
    }
}

#portfolio-transition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    z-index: 3;

    .portfolio-transition-cube {
        position: absolute;
        width: 100px;
        height: 100px;

        border: 4px solid #4b1d34;
        font-size: 20px;
    }
}

#portfolio {
    display: none;
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 100%;

    color: white;
    z-index: 2;

    @keyframes show-page {
        from {
            transform: translateY(200px);
            opacity: 0;
        }
    }

    @keyframes show-background {
        from {
            opacity: 0;
            transform: scale(2);
        }
    }

    #portfolio-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(background/portfolio.png);
        background-size: cover;
        z-index: -1;

        animation: show-background 2s;
    }

    #portfolio-content-container {
        padding: 20px;

        animation: show-page 1s;

        h1 {
            
            font-size: 50px;
        }
    
        p {
            
        }
    }

    
}

@media screen and (min-width: 600px) and (max-width: 780px) {
    video {
        filter: opacity(0.7);
    }
}

@media screen and (max-width: 600px) {

body {
    margin: 0;
}

#background {
    height: 200px;
    object-fit: cover;    
}

article {
    margin: 210px 0 0 0;
    background: black;

    h1 {
        margin: 0 6%;
        font-size: 18px;
        color: #b1b1b1;

        #introduction-hi {
            color: #ebebeb;
            font-size: 50px;
            line-height: unset;
        }
    }

    #introduction-text {
        margin: 8px 2% 20px 6%;
        color: gray;

        br {
            display: none;
        }
    }

    #introduction-skill-container {
        padding: 0 6%;
        box-sizing: border-box;

        img {
            min-width: 0px;
            height: 38px;
            flex: 0 1 auto;
            opacity: 0.25;
        }
    }

    #cube-sequences {
        width: 100%;
        height: 20px;
        margin-top: 20px;

        background: url(img/Cube\ Sequences.svg);
    }
}

}

@media screen and (max-width: 600px) and (max-height: 524px) {

nav {
    display: none;
}

article {
    #nav-mobile-small {
        position: fixed;
        display: flex;
        width: 100%;
        height: 42px;
        bottom: 16px;
        justify-content: center;
        z-index: 4;

        img {
            cursor: pointer;
        }    
    }  
}

}

@media screen and (max-width: 600px) and (min-height: 524px) {

nav {
    width: 94%;
    margin: 16px 3%;

    background: #ffffff05;
    border-radius: 10px;
    border: 1px solid #ffffff1a;

    .nav-desktop-item {
        border-left: 1px solid #ffffff0d;

        span { display: none; }

        p {
            font-size: 100%;
            font-family: 'Gruppo', cursive;
            text-align: center;
            transition: transform 0.5s;
        }
    }
    .nav-desktop-item:first-child {
        border-left: none;
    }

    .nav-desktop-item:hover {
        transform: unset;
    }
    .nav-desktop-item:hover p {
        transform: translateY(-8px);
    }
}

}